<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.issarompion.v1notreappli">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/garagiste"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OnePlayerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShakeActivity"
            android:configChanges="orientation"
            android:label="Defi geste 1 : Le tournevis "
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnswerActivity"
            android:configChanges="orientation"
            android:label="Défi question 1 : Le QI d'Einstein"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CircleActivity"
            android:configChanges="orientation"
            android:label="Défi mouvement 1 : Le doigt dans l'engrenage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MouvActivity"
            android:configChanges="orientation"
            android:label="Défi mouvement 2 : Allez les bleus de travail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TwoPlayersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation"
            android:label="Défi question 2 : La boite à outils"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CricActivity"
            android:configChanges="orientation"
            android:label="Défi Geste 2 : Le Cric Crac"
            android:screenOrientation="portrait" />
        <activity android:name=".p2p" />
        <activity
            android:name=".Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>