<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.issarompion.v1notreappli">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mon_icone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        >
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OnePlayerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShakeActivity"
            android:label="Defi geste 1 : Le tournevis "
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AnswerActivity"
            android:label="Défi question 1 : Maths"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CircleActivity"
            android:label="Défi mouvement 1 : L&apos;écrou "
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MouvActivity"
            android:label="Défi mouvement 2 : L&apos;équipe de France"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TwoPlayersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ScoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizActivity"
            android:label="Défi question 2 : Les outils"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>